@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;300;400;500;700;900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9e9c99;
  font-family: 'Noto Sans Display', sans-serif;
  color: #0f0f0f;
  font-size: 22px;
  width: 98vw;
}

/* CABEÇALHO */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/neutral-abstract-texture-simple-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 200px;
}

#menu ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

#menu li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 350px;
}

#menu a {
  text-decoration: none;
  color: #111111;
  font-weight: 700;
  font-size: 46px;
  transition-duration: 0.5s;
}

#menu a:hover {
  color: #070707;
  /* font-size: 48px; */
  font-weight: 900;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 5px;
}

.spacing {
  letter-spacing: 16px;
}

.subtitulo {
  color: #111110;
  font-size: 80px;
  font-weight: 900;
  margin: 0;
  z-index: -1;
}

/* HOME */
#sobre-mim {
  width: 1200px;
}

.position {
  position: relative;
  left: 363px;
  bottom: 114px;
}

.foto-perfil {
  width: auto;
  height: 350px;
  border-radius: 50%;
}

#sobre-mim section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragrafos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

p.sobre {
  text-align: justify;
}

#video-favorito {
  margin-top: 50px;
}

#video-favorito .titulo {
  margin-bottom: 50px;
}

/* CONTATO */
.contato {
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
}

.contato section {
  width: 550px;
}

#contato h1, #endereco h2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
}

.formulario {
  width: 90%;
  padding: 15px;
}

.formulario label {
  font-size: 16px;
  font-weight: 600;
}

.formulario input, .formulario textarea {
  border: 2px solid #808C6D;
  border-radius: 6px;
  color: #808C6D;
}

.formulario input {
  width: 60%;
  height: 20px;
}

.formulario button {
  border: 2px solid #808C6D;
  background-color: #406313;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  color: #EDE4DB;
  font-weight: 700;
  font-size: 18px;
}

#botao-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

#endereco p {
  padding-left: 5px;
  margin: 5px 0;
  font-size: 20px;
}

#endereco iframe {
  margin: 5px 5px;
}